<p id="notice"><%= notice %></p>

<p>
  <b><%= @movie_review.title %></b>
</p>

<p>
  <b>Rating:<%= @movie_review.rating %></b>
</p>

<p>
  <%= @movie_review.content %>
</p>

<p>
  Author: <%= @movie_review.author %>
</p>
