<p id="notice"><%= notice %></p>

<p>
  <h1><%= @newsitem.title %></h1>  Author:<%= @newsitem.author %><br /><%= @newsitem.created_at.strftime('%m/%d/%y') %>

</p>

  <%= @newsitem.content %>

<p>
</p>
