<p id="notice"><%= notice %></p>
<h1><%= @newsitem.title %></h1>  Author:<%= @newsitem.author %><br /><%= @newsitem.created_at.strftime('%m/%d/%y') %><br />
<div style="width:400px; float:left; background:#00CC33;"><pre><%= @newsitem.content %></pre></div>