<p id="notice"><%= notice %></p>
<h1><%= @newsitem.title %></h1>  <b>Author:<%= @newsitem.author %><br /><%= @newsitem.created_at.strftime('%Y/%m/%d') %></b><br />
<div style="width:400px; float:left; background:#00CC33;">
  <pre style="font-family: 'Lucida Grande', 'Bitstream Vera Sans', 'Verdana'; font-size: 16px; color:333">
    <%= @newsitem.content %>
  </pre>
</div>