<h1>Fetched videos </h1>

<table>
  <tr>
    <th>index</th>
    <th>Video id</th>
    <th>Title</th>
    <th>Image id</th>
    <th>Add to db?</th>
  </tr>

<% @data.keys.sort{|x,y| x.to_i <=> y.to_i}.each do |index| 
   yt = @data[index] 
   key = yt.keys.shift %>
  <tr>
    <td><%= index %></td>
    <td><%= key %></td>
    <td><%= yt[key] %></td>
    <td><%= key %></td>
    <td><%= link_to 'Add', new_video_path(:url => key,:title => yt[key], :image_url => key, :active => 1) %></td>
   </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video', new_video_path %>
